In [15]:
import requests
import pandas as pd
import json

In [7]:
url = "https://exoplanets.nasa.gov/api/v1/planets/?order=display_name+asc&per_page=4422&page=0"
response = requests.get(url)
response_json = response.json()

In [16]:
json.dump(response_json["items"], open("Input/nasa_exoplanets.json", "w"))

In [21]:
exoplanet_df = pd.read_json("Input/nasa_exoplanets.json")
exoplanet_df.set_index("id", inplace=True)
exoplanet_df.head()

(4422, 28)

In [22]:
url = "http://exoplanets.org/columns?&json=%7B%22rows%22%3A%22ALL%22%2C%22columns%22%3A%5B%22EOD%22%2C%22KDE%22%2C%22ROW%22%2C%22NAME%22%2C%22MSINI%22%2C%22MSINIUPPER%22%2C%22MSINILOWER%22%2C%22UMSINI%22%2C%22MSINIURL%22%2C%22MSINIREF%22%2C%22A%22%2C%22AUPPER%22%2C%22ALOWER%22%2C%22UA%22%2C%22AURL%22%2C%22AREF%22%2C%22PER%22%2C%22PERUPPER%22%2C%22PERLOWER%22%2C%22UPER%22%2C%22PERURL%22%2C%22PERREF%22%2C%22ECC%22%2C%22ECCUPPER%22%2C%22ECCLOWER%22%2C%22UECC%22%2C%22ECCURL%22%2C%22ECCREF%22%2C%22OM%22%2C%22OMUPPER%22%2C%22OMLOWER%22%2C%22UOM%22%2C%22OMURL%22%2C%22OMREF%22%2C%22T0%22%2C%22T0UPPER%22%2C%22T0LOWER%22%2C%22UT0%22%2C%22T0URL%22%2C%22T0REF%22%2C%22K%22%2C%22KUPPER%22%2C%22KLOWER%22%2C%22UK%22%2C%22KURL%22%2C%22KREF%22%2C%22ORBREF%22%2C%22ORBURL%22%2C%22FIRSTREF%22%2C%22FIRSTURL%22%5D%7D"

In [23]:
response = requests.get(url)
response_json = response.json()

In [25]:
json.dump(response_json["columns"], open("Input/exoplanets_org.json", "w"))

In [30]:
exoplanetorgs_df = pd.read_json("Input/exoplanets_org.json")
exoplanetorgs_df.set_index("ROW", inplace=True)
exoplanetorgs_df.head()

,EOD,KDE,NAME,MSINI,MSINIUPPER,MSINILOWER,UMSINI,MSINIURL,MSINIREF,A,...,K,KUPPER,KLOWER,UK,KURL,KREF,ORBREF,ORBURL,FIRSTREF,FIRSTURL
ROW,,,,,,,,,,,,,,,,,,,,,
0,1,1,Kepler-107 d,NaN,NaN,NaN,NaN,None,None,0.078010,...,NaN,NaN,NaN,NaN,http://adsabs.harvard.edu/abs/2014arXiv1402.6534R,Rowe 2014,Rowe 2014,http://adsabs.harvard.edu/abs/2014arXiv1402.6534R,Rowe 2014,http://adsabs.harvard.edu/abs/2014arXiv1402.6534R
1,1,1,Kepler-1049 b,NaN,NaN,NaN,NaN,None,None,0.034472,...,NaN,NaN,NaN,NaN,http://adsabs.harvard.edu/abs/2016ApJ...822...86M,Morton 2016,Morton 2016,http://adsabs.harvard.edu/abs/2016ApJ...822...86M,Morton 2016,http://adsabs.harvard.edu/abs/2016ApJ...822...86M
2,1,1,Kepler-813 b,NaN,NaN,NaN,NaN,None,None,0.137610,...,NaN,NaN,NaN,NaN,http://adsabs.harvard.edu/abs/2016ApJ...822...86M,Morton 2016,Morton 2016,http://adsabs.harvard.edu/abs/2016ApJ...822...86M,Morton 2016,http://adsabs.harvard.edu/abs/2016ApJ...822...86M
3,1,1,Kepler-427 b,0.310432,0.095675,0.095675,0.095675,http://adsabs.harvard.edu/abs/2006ApJ...646..505B,Calculated,0.091351,...,29.8,9.1,9.1,9.1,http://adsabs.harvard.edu/abs/2014A%26A...572A...,Hebrard 2014,Hebrard 2014,http://adsabs.harvard.edu/abs/2014A%26A...572A...,Borucki 2010,http://adsabs.harvard.edu/abs/2010Sci...327..977B
4,1,1,Kepler-1056 b,NaN,NaN,NaN,NaN,None,None,0.185149,...,NaN,NaN,NaN,NaN,http://adsabs.harvard.edu/abs/2016ApJ...822...86M,Morton 2016,Morton 2016,http://adsabs.harvard.edu/abs/2016ApJ...822...86M,Morton 2016,http://adsabs.harvard.edu/abs/2016ApJ...822...86M

In [31]:
exoplanetorgs_df.shape

(5747, 49)