In [42]:
#Import Dependencies
import pandas as pd 
import numpy as np
import json
import time

In [43]:
#read and Display CSV file
exo = pd.read_csv('Input/aliastable.csv')
exo

                    aliasdis
0                    bet Pic
1    2MASS J05471708-5103594
2                 CD-51 1620
3                 CPD-51 774
4                     GJ 219
5                   HD 39060
6                  HIP 27321
7                    HR 2020
8            IRAS 05460-5104
9                 SAO 234134
10          TYC 8099-01392-1
11  WISE J054717.10-510358.4

In [44]:
#read and Display CSV file
exo = pd.read_csv('Input/cumulative.csv')
exo

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra_str,dec_str,koi_kepmag,koi_kepmag_err
0,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,4.467,0.064,-0.096,0.927,0.105,-0.061,19h27m44.22s,+48d08m29.9s,15.347,NaN
1,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,0,0,0,0,...,4.467,0.064,-0.096,0.927,0.105,-0.061,19h27m44.22s,+48d08m29.9s,15.347,NaN
2,10811496,K00753.01,NaN,CANDIDATE,CANDIDATE,0.000,0,0,0,0,...,4.544,0.044,-0.176,0.868,0.233,-0.078,19h48m01.16s,+48d08m02.9s,15.436,NaN
3,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,0,...,4.564,0.053,-0.168,0.791,0.201,-0.067,19h02m08.31s,+48d17m06.8s,15.597,NaN
4,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,4.438,0.070,-0.210,1.046,0.334,-0.133,19h15m01.17s,+48d13m34.3s,15.509,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9559,10090151,K07985.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,1,0,...,4.529,0.035,-0.196,0.903,0.237,-0.079,19h48m45.30s,+47d05m37.7s,14.082,NaN
9560,10128825,K07986.01,NaN,CANDIDATE,CANDIDATE,0.497,0,0,0,0,...,4.444,0.056,-0.224,1.031,0.341,-0.114,19h06m02.25s,+47d09m47.6s,14.757,NaN
9561,10147276,K07987.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.021,0,0,1,0,...,4.447,0.056,-0.224,1.041,0.341,-0.114,19h36m39.57s,+47d10m34.6s,15.385,NaN
9562,10155286,K07988.01,NaN,CANDIDATE,CANDIDATE,0.092,0,0,0,0,...,2.992,0.030,-0.027,7.824,0.223,-1.896,19h47m03.09s,+47d08m42.5s,10.998,NaN
9563,10156110,K07989.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,0,1,1,...,4.385,0.054,-0.216,1.193,0.410,-0.137,19h48m02.34s,+47d07m15.7s,14.826,NaN

In [45]:
#read and Display CSV file
exo = pd.read_csv('Input/k2candidates.csv')
exo

,epic_name,epic_candname,pl_name,k2c_refdisp,k2c_reflink,k2c_disp,k2c_note,k2_campaign_str,k2c_recentflag,pl_orbper,...,st_rad,st_raderr1,st_raderr2,st_radlim,st_kep,st_keperr,st_keplim,st_k2,st_k2err,st_k2lim
0,EPIC 205999468,EPIC 205999468.01,NaN,CANDIDATE,<a refstr=VANDERBURG_ET_AL__2016 href=https://...,CANDIDATE,NaN,3.0,0,12.263354,...,0.76,NaN,NaN,0.0,12.932,NaN,0.0,11.011,0.024,0.0
1,EPIC 206007892,EPIC 206007892.01,K2-169 b,CANDIDATE,<a refstr=VANDERBURG_ET_AL__2016 href=https://...,CONFIRMED,NaN,3.0,0,6.379610,...,0.83,NaN,NaN,0.0,12.023,NaN,0.0,10.371,0.021,0.0
2,EPIC 206008091,EPIC 206008091.01,K2-170 c,CANDIDATE,<a refstr=VANDERBURG_ET_AL__2016 href=https://...,CONFIRMED,NaN,3.0,0,12.400731,...,0.98,NaN,NaN,0.0,12.506,NaN,0.0,11.075,0.021,0.0
3,EPIC 206008091,EPIC 206008091.02,K2-170 b,CANDIDATE,<a refstr=VANDERBURG_ET_AL__2016 href=https://...,CONFIRMED,NaN,3.0,0,7.576721,...,0.98,NaN,NaN,0.0,12.506,NaN,0.0,11.075,0.021,0.0
4,EPIC 206011496,EPIC 206011496.01,K2-265 b,CANDIDATE,<a refstr=VANDERBURG_ET_AL__2016 href=https://...,CONFIRMED,NaN,3.0,0,2.369044,...,0.81,NaN,NaN,0.0,10.916,NaN,0.0,9.259,0.027,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2577,EPIC 220554210,EPIC 220554210.01,K2-282 b,CANDIDATE,<a refstr=KRUSE_ET_AL__2019 href=https://ui.ad...,CONFIRMED,NaN,8.0,1,4.170320,...,1.01,0.04,-0.04,0.0,13.723,NaN,0.0,12.002,0.021,0.0
2578,EPIC 220554210,EPIC 220554210.02,EPIC 220554210 c,CANDIDATE,<a refstr=KRUSE_ET_AL__2019 href=https://ui.ad...,CONFIRMED,NaN,8.0,1,0.705386,...,1.01,0.04,-0.04,0.0,13.723,NaN,0.0,12.002,0.021,0.0
2579,EPIC 220555384,EPIC 220555384.01,NaN,CANDIDATE,<a refstr=KRUSE_ET_AL__2019 href=https://ui.ad...,CANDIDATE,NaN,8.0,1,4.284460,...,0.93,0.05,-0.02,0.0,12.395,NaN,0.0,9.700,0.021,0.0
2580,EPIC 220556827,EPIC 220556827.01,NaN,CANDIDATE,<a refstr=KRUSE_ET_AL__2019 href=https://ui.ad...,CANDIDATE,NaN,8.0,1,6.530460,...,0.69,0.08,-0.02,0.0,15.408,NaN,0.0,12.040,0.023,0.0
2581,EPIC 220562610,EPIC 220562610.01,NaN,CANDIDATE,<a refstr=KRUSE_ET_AL__2019 href=https://ui.ad...,CANDIDATE,NaN,8.0,1,NaN,...,1.26,0.03,-0.04,0.0,12.513,NaN,0.0,11.041,0.024,0.0

In [46]:
#read and Display CSV file
exo = pd.read_csv('Input/k2targets.csv')
exo

C:\Users\J-cle\anaconda3\envs\pythondata\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,epic_number,tm_name,k2_campaign_str,k2_type,rastr,decstr,k2_propid,k2_dist,k2_disterr1,k2_disterr2,...,k2_mass,k2_masserr1,k2_masserr2,k2_kepmag,k2_kepmagerr,k2_kepmagflag,k2_vjmag,k2_vjmagerr,k2_kmag,k2_kmagerr
0,60018365,2MASS J23391492-0556597,E,NaN,23h39m14.93s,-05d56m59.7s,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.120,NaN,NaN,NaN,NaN,8.751,0.019
1,60018369,2MASS J23550014-0224072,E,NaN,23h55m00.15s,-02d24m07.1s,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.140,NaN,NaN,NaN,NaN,8.975,0.021
2,60018371,2MASS J23572163+0041200,E,NaN,23h57m21.64s,+00d41m19.9s,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.140,NaN,NaN,NaN,NaN,8.632,0.027
3,60018372,2MASS J23392604-0328341,E,NaN,23h39m26.04s,-03d28m34.0s,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.150,NaN,NaN,NaN,NaN,8.955,0.023
4,60018374,2MASS J00035057+0046323,E,NaN,00h03m50.59s,+00d46m32.4s,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.150,NaN,NaN,NaN,NaN,8.928,0.023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392240,212013249,2MASS J08193275+2028260,18,STAR,08h19m32.75s,+20d28m26.1s,GO18049_LC,NaN,NaN,NaN,...,NaN,NaN,NaN,13.697,NaN,gri,13.851,0.090,12.365,0.020
392241,212013281,2MASS J08574774+2028282,18,STAR,08h57m47.75s,+20d28m28.2s,GO18003_LC; GO18049_LC,135.00,29.71,-29.71,...,NaN,NaN,NaN,9.425,NaN,gri,9.301,0.026,8.243,0.022
392242,212013289,2MASS J08401191+2028286,18,STAR,08h40m11.92s,+20d28m28.6s,GO18049_LC; GO18065_LC,540.70,182.00,-182.00,...,NaN,NaN,NaN,12.545,NaN,gri,12.704,0.030,11.233,0.021
392243,212013297,2MASS J08404692+2028291,18,STAR,08h40m46.91s,+20d28m29.1s,GO18011_LC; GO18023_LC; GO18039_LC; GO18052_LC...,94.21,24.23,-24.23,...,NaN,NaN,NaN,15.132,NaN,gri,16.035,0.150,11.680,0.021
392244,212013344,2MASS J08431576+2028326,18,STAR,08h43m15.77s,+20d28m32.7s,GO18039_LC,NaN,NaN,NaN,...,NaN,NaN,NaN,17.018,NaN,gri,NaN,NaN,13.453,0.042

In [47]:
#read and Display CSV file
exo = pd.read_csv('Input/kelttimeseries.csv')
exo

,kelt_sourceid,kelt_field,kelt_orientation,proc_type,kelt_proc_version,ra,dec,kelt_mag,obsstart,obsstop,...,median,stddevwrtmedian,npts,n5sigma,f5sigma,medabsdev,chisquared,range595,minvalue,maxvalue
0,KELT_N02_lc_001388_V01_east,N02,east,raw,V01,21.59602,20.06730,10.416,2006-10-26 04:44:09.0,2008-11-24 04:44:47.0,...,10.435390,0.090659,1792,10,0.005580,0.012580,18610.842704,0.13739,9.76378,12.73804
1,KELT_N02_lc_001388_V01_east,N02,west,raw,V01,21.59602,20.06730,10.337,2006-10-27 07:06:26.0,2008-11-24 09:34:38.0,...,10.355590,0.125490,602,1,0.001661,0.018055,50739.963721,0.12634,10.29261,13.17885
2,KELT_N02_lc_001953_V01_east,N02,east,raw,V01,34.78578,19.68645,10.985,2006-10-26 04:44:09.0,2008-11-24 04:44:47.0,...,10.988280,0.020182,1792,5,0.002790,0.006225,223.723020,0.03952,10.84984,11.53405
3,KELT_N02_lc_009602_V01_east,N02,east,raw,V01,41.86608,19.36974,10.953,2006-10-26 04:44:09.0,2008-11-24 04:44:47.0,...,10.952100,0.020207,1792,9,0.005022,0.007535,270.232285,0.04231,10.69700,11.28750
4,KELT_N02_lc_008534_V01_east,N02,west,raw,V01,41.81501,22.95839,10.951,2006-10-27 07:06:26.0,2008-11-24 09:34:38.0,...,10.964275,0.119235,602,3,0.004983,0.014935,12409.187760,0.09927,8.38970,11.59796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,KELT_N02_lc_064552_V01_east,N02,west,tfa,V01,23.47327,35.60919,10.180,2006-10-27 07:06:26.0,2008-11-24 09:34:38.0,...,10.197630,0.014398,591,2,0.003384,0.007780,515.914564,0.04540,10.16489,10.27092
350,KELT_N02_lc_064556_V01_east,N02,east,tfa,V01,27.16238,37.95218,9.815,2006-10-26 04:44:09.0,2008-11-24 04:44:47.0,...,9.822710,0.004579,1777,5,0.002814,0.002260,196.492270,0.01298,9.81162,9.86870
351,KELT_N02_lc_064556_V01_east,N02,west,tfa,V01,27.16238,37.95218,9.724,2006-10-27 07:06:26.0,2008-11-24 09:34:38.0,...,9.734355,0.013239,592,2,0.003378,0.006780,868.301282,0.03830,9.67879,9.80364
352,KELT_N02_lc_068585_V01_east,N02,east,tfa,V01,42.72421,35.39485,9.784,2006-10-26 04:44:09.0,2008-11-24 04:44:47.0,...,9.794660,0.005672,1770,11,0.006215,0.002570,249.045138,0.01416,9.77994,9.86258
353,KELT_N02_lc_068585_V01_east,N02,west,tfa,V01,42.72421,35.39485,10.248,2006-10-27 07:06:26.0,2008-11-24 09:34:38.0,...,10.229445,0.018440,590,3,0.005085,0.008090,804.053095,0.05071,10.15662,10.35778

In [48]:
#read and Display CSV file
exo = pd.read_csv('Input/mission_exocat.csv')
exo

,star_name,hip_name,hd_name,gj_name,tm_name,st_exocatflag,st_coronagflag,st_starshadeflag,st_wfirstflag,st_lbtiflag,...,st_vmag,st_vmagerr,st_vmagsrc,st_bmv,st_bmverr,st_bmvsrc,st_spttype,st_lbol,st_lbolerr,st_lbolsrc
0,HIP 3185,HIP 3185,HD 3795,GJ 27.2,2MASS J00403279-2348172,1,0,0,0,0,...,6.14,0.01,G,0.72,0.01,G,G3/5V,2.76,0.11,B-V
1,HIP 3203 A,HIP 3203 A,HD 3821,GJ 9020 A,2MASS J00404747-0713574,1,0,0,0,0,...,7.02,0.01,G,0.62,0.02,G,G2/3V,0.98,0.06,V-K
2,HIP 3206,HIP 3206,HD 3765,GJ 28,2MASS J00404929+4011133,1,0,0,0,0,...,7.36,0.01,G,0.94,0.02,G,K2V,0.37,0.05,V-K
3,HIP 3261,HIP 3261,NaN,GJ 1016,2MASS J00413051-3337317,1,0,0,0,0,...,10.53,0.01,Koen,1.44,0.01,Koen,NaN,0.06,0.11,V-K
4,HIP 3362,HIP 3362,NaN,GJ 29.1,2MASS J00424820+3532554,1,0,0,0,0,...,10.44,0.23,VT,1.54,0.23,BVT-G-Red,M1Ve+...,0.12,0.44,V-K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2391,HIP 116584,HIP 116584,HD 222107,GJ 9832,2MASS J23373382+4627298,1,1,0,0,0,...,3.85,0.02,VT,0.99,0.02,BVT-Red,G8III-IV,25.57,0.06,V-K
2392,HIP 116613,HIP 116613,HD 222143,GJ 4351,2MASS J23375844+4611579,1,0,0,0,0,...,6.58,0.02,VT,0.65,0.02,BVT-Red,G5,1.13,0.05,V-K
2393,HIP 116645,HIP 116645,NaN,GJ 4353,2MASS J23381743-4131037,1,0,0,0,0,...,11.93,0.01,Koen,1.55,0.01,Koen,M3,0.03,0.18,V-K
2394,gam Cep,HIP 116727,HD 222404,GJ 903,2MASS J23392083+7737563,1,1,1,0,0,...,3.21,0.01,G,1.03,0.01,G,K1IV,11.84,0.10,V-K
2395,HIP 116745,HIP 116745,HD 222237,GJ 902,2MASS J23393736-7243197,1,0,0,0,0,...,7.09,0.01,Koen,1.00,0.01,Koen,K4V,0.24,0.04,V-K

In [49]:
#read and Display CSV file
exo = pd.read_csv('Input/missionstars.csv')
exo

,star_name,hip_name,hd_name,gj_name,tm_name,st_exocatflag,st_coronagflag,st_starshadeflag,st_wfirstflag,st_lbtiflag,...,st_vmag,st_vmagerr,st_vmagsrc,st_bmv,st_bmverr,st_bmvsrc,st_spttype,st_lbol,st_lbolerr,st_lbolsrc
0,HIP 3419,HIP 3419,HD 4128,GJ 31,2MASS J00433536-1759117,1,1,0,0,0,...,2.02,0.02,VT-G,1.04,0.02,BVT-G-Red,K0III,151.95,0.06,V-K
1,HIP 3765,HIP 3765,HD 4628,GJ 33,2MASS J00482303+0516497,1,1,1,1,1,...,5.74,0.01,G,0.89,0.01,G,K1V,0.30,0.05,V-K
2,HIP 3821 A,HIP 3821 A,HD 4614,GJ 34 A,2MASS J00490622+5748545,1,1,1,1,0,...,3.45,0.02,VT,0.57,0.02,BVT-Red,G3V,1.31,0.06,V-K
3,HIP 3909,HIP 3909,HD 4813,GJ 37,2MASS J00500759-1038394,1,0,1,0,0,...,5.16,0.02,VT,0.51,0.01,G,F7V,1.85,0.10,B-V
4,HIP 4151,HIP 4151,HD 5015,GJ 41,2MASS J00530419+6107262,1,1,0,0,0,...,4.80,0.01,G,0.54,0.01,G,F8V,3.66,0.05,V-K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,HD 219077,HIP 114699,HD 219077,NaN,2MASS J23140661-6242002,1,1,0,0,0,...,6.12,0.02,VT,0.78,0.02,BVT-Red,G8V,3.03,0.11,B-V
356,HIP 114996,HIP 114996,HD 219571,GJ 9818,2MASS J23172579-5814087,1,1,0,0,0,...,3.99,0.02,VT,0.41,0.01,G,F3IV/V,11.42,0.07,V-K
357,HIP 116085,HIP 116085,HD 221354,GJ 895.4,2MASS J23312219+5909558,1,0,0,1,0,...,6.75,0.02,VT,0.84,0.00,G,K2V,0.58,0.04,V-K
358,HIP 116584,HIP 116584,HD 222107,GJ 9832,2MASS J23373382+4627298,1,1,0,0,0,...,3.85,0.02,VT,0.99,0.02,BVT-Red,G8III-IV,25.57,0.06,V-K
359,gam Cep,HIP 116727,HD 222404,GJ 903,2MASS J23392083+7737563,1,1,1,0,0,...,3.21,0.01,G,1.03,0.01,G,K1IV,11.84,0.10,V-K

In [50]:
#read and Display CSV file
exo = pd.read_csv('Input/ML.csv')
exo

,pl_name,rastr,decstr,pl_masse,pl_masseerr1,pl_masseerr2,pl_masselim,pl_massj,pl_massjerr1,pl_massjerr2,...,ml_radeinang,ml_radeinangerr1,ml_radeinangerr2,ml_radeinanglim,ml_pmrells,ml_pmrellserr1,ml_pmrellserr2,ml_pmrellslim,ml_modeldef,htmllink
0,KMT-2019-BLG-1953L b,17h56m27.90s,-28d12m04.00s,NaN,NaN,NaN,0,NaN,NaN,NaN,...,0.250,0.020,-0.020,0.0,5.70,0.46,-0.46,0.0,0,<a refstr=HAN_ET_AL__2020 href=https://ui.adsa...
1,MOA-2013-BLG-605L b,17h58m42.85s,-29d23m53.66s,20.58,0.56,-6.66,0,0.06475,0.00180,-0.02100,...,0.503,0.034,-0.034,0.0,9.03,0.63,-0.63,0.0,0,<a refstr=SUMI_ET_AL__2016 href=https://ui.ads...
2,KMT-2019-BLG-1953L b,17h56m27.90s,-28d12m04.00s,NaN,NaN,NaN,0,NaN,NaN,NaN,...,0.250,0.020,-0.020,0.0,5.70,0.46,-0.46,0.0,0,<a refstr=HAN_ET_AL__2020 href=https://ui.adsa...
3,OGLE-2005-BLG-390L b,17h54m19.2s,-30d22m38s,5.50,5.50,-2.70,0,0.01700,0.01700,-0.00900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,<a refstr=BEAULIEU_ET_AL__2006 href=https://ui...
4,OGLE-2012-BLG-0950L b,18h08m04.62s,-29d43m53.7s,36.00,8.00,-6.00,0,0.11000,0.03000,-0.02000,...,0.860,0.150,-0.060,0.0,4.60,0.90,-0.30,0.0,0,<a refstr=KOSHIMOTO_ET_AL__2017 href=https://u...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,OGLE-2012-BLG-0406L b,17h53m18.17s,-30d28m16.2s,830.00,380.00,-380.00,0,2.60000,1.20000,-1.20000,...,0.680,0.090,-0.090,0.0,3.90,0.60,-0.60,0.0,0,<a refstr=POLESKI_ET_AL__2014 href=https://ui....
315,OGLE-2015-BLG-0954L b,18h00m44.24s,-28d39m39.2s,1200.00,440.00,-440.00,0,3.90000,1.40000,-1.40000,...,1.890,0.170,-0.170,0.0,18.40,1.70,-1.70,0.0,0,<a refstr=SHIN_ET_AL__2016 href=https://ui.ads...
316,TCP J05074264+2447555 b,05h07m42.64s,+24d47m55.5s,9.20,6.60,-6.60,0,0.02900,0.02100,-0.02100,...,1.450,0.250,-0.250,0.0,NaN,NaN,NaN,NaN,0,<a refstr=NUCITA_ET_AL__2018 href=https://ui.a...
317,KMT-2016-BLG-1107L b,17h45m40.26s,-26d01m54.48s,1043.00,1102.00,-583.00,0,3.28300,3.46800,-1.83500,...,0.148,0.021,-0.021,0.0,2.65,0.38,-0.38,0.0,1,<a refstr=HWANG_ET_AL__2019 href=https://ui.ad...
318,OGLE-2018-BLG-0596L b,17h56m13.33s,-29d11m56.7s,14.69,1.72,-1.72,0,0.04622,0.00541,-0.00541,...,0.324,0.033,-0.033,0.0,4.07,0.41,-0.41,0.0,0,<a refstr=JUNG_ET_AL__2019 href=https://ui.ads...

In [51]:
#read and Display CSV file
exo = pd.read_csv('Input/oec.csv')
exo

,PlanetIdentifier,TypeFlag,PlanetaryMassJpt,RadiusJpt,PeriodDays,SemiMajorAxisAU,Eccentricity,PeriastronDeg,LongitudeDeg,AscendingNodeDeg,...,LastUpdated,RightAscension,Declination,DistFromSunParsec,HostStarMassSlrMass,HostStarRadiusSlrRad,HostStarMetallicity,HostStarTempK,HostStarAgeGyr,ListsPlanetIsOn
0,HD 143761 b,0,1.0450,NaN,39.845800,0.2196,0.037,270.60,NaN,NaN,...,16/07/11,16 01 03,+33 18 13,17.236,0.889,1.362,-0.31,5627.0,NaN,Confirmed planets
1,HD 143761 c,0,0.0790,NaN,102.540000,0.4123,0.050,190.00,NaN,NaN,...,16/07/11,16 01 03,+33 18 13,17.236,0.889,1.362,-0.31,5627.0,NaN,Confirmed planets
2,KOI-1843.03,0,0.0014,0.054,0.176891,0.0048,NaN,NaN,NaN,NaN,...,13/07/15,19 00 03.14,+40 13 14.7,NaN,0.460,0.450,0.00,3584.0,NaN,Controversial
3,KOI-1843.01,0,NaN,0.114,4.194525,0.0390,NaN,NaN,NaN,NaN,...,NaN,19 00 03.14,+40 13 14.7,NaN,0.460,0.450,0.00,3584.0,NaN,Controversial
4,KOI-1843.02,0,NaN,0.071,6.356006,0.0520,NaN,NaN,NaN,NaN,...,NaN,19 00 03.14,+40 13 14.7,NaN,0.460,0.450,0.00,3584.0,NaN,Controversial
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3579,eta Cet b,0,2.4600,NaN,407.300000,1.2700,0.170,247.20,NaN,NaN,...,15/12/11,01 08 35.39148,-10 10 56.1570,37.990,1.700,14.300,0.12,4528.0,NaN,Confirmed planets
3580,eta Cet c,0,3.1600,NaN,744.300000,1.9300,0.020,36.67,NaN,NaN,...,15/12/11,01 08 35.39148,-10 10 56.1570,37.990,1.700,14.300,0.12,4528.0,NaN,Confirmed planets
3581,HD 108874 b,0,1.3600,NaN,395.400000,1.0510,0.070,NaN,NaN,NaN,...,10/12/2029,12 30 26,+22 52 47,68.500,1.000,1.220,0.14,5407.0,NaN,Confirmed planets
3582,HD 108874 c,0,1.0180,NaN,1605.800000,2.6800,0.250,NaN,NaN,NaN,...,10/12/2029,12 30 26,+22 52 47,68.500,1.000,1.220,0.14,5407.0,NaN,Confirmed planets
3583,Kepler-1473 b,0,NaN,0.106,14.427355,NaN,NaN,NaN,NaN,NaN,...,16/05/10,19 22 33,+48 59 46,NaN,1.090,1.090,-0.01,6046.0,NaN,Confirmed planets

In [52]:
#read and Display CSV file
exo = pd.read_csv('Input/q1_q6_koi.csv')
exo

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra_str,dec_str,koi_kepmag,koi_kepmag_err
0,8247638,K00907.04,Kepler-251 e,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.320,NaN,NaN,1.09,NaN,NaN,19h46m15.89s,+44d06m21.1s,15.223,NaN
1,8255887,K00908.01,Kepler-720 b,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.200,NaN,NaN,1.29,NaN,NaN,19h54m32.56s,+44d10m15.4s,15.113,NaN
2,8256049,K00909.01,NaN,FALSE POSITIVE,FALSE POSITIVE,NaN,NaN,NaN,NaN,NaN,...,4.733,NaN,NaN,NaN,NaN,NaN,19h54m42.87s,+44d10m31.8s,15.654,NaN
3,8414716,K00910.01,Kepler-721 b,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.620,NaN,NaN,0.75,NaN,NaN,18h57m43.32s,+44d28m49.9s,15.651,NaN
4,8490993,K00911.01,Kepler-722 b,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.520,NaN,NaN,0.91,NaN,NaN,19h21m03.19s,+44d33m23.2s,15.399,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2930,10345478,K00737.01,NaN,CANDIDATE,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.600,NaN,NaN,0.71,NaN,NaN,19h36m29.04s,+47d24m31.6s,15.684,NaN
2931,10358759,K00738.01,Kepler-29 b,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.540,NaN,NaN,0.86,NaN,NaN,19h53m23.60s,+47d29m28.4s,15.282,NaN
2932,10358759,K00738.02,Kepler-29 c,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.540,NaN,NaN,0.86,NaN,NaN,19h53m23.60s,+47d29m28.4s,15.282,NaN
2933,10386984,K00739.01,Kepler-658 b,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.720,NaN,NaN,0.55,NaN,NaN,18h51m56.11s,+47d34m42.9s,15.488,NaN
2934,10395381,K00740.01,Kepler-659 b,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.640,NaN,NaN,0.66,NaN,NaN,19h10m25.96s,+47d30m34.9s,15.556,NaN

In [53]:
#read and Display CSV file
exo = pd.read_csv('Input/q1_q8_koi.csv')
exo

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra_str,dec_str,koi_kepmag,koi_kepmag_err
0,9388479,K00936.02,Kepler-732 c,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.760,0.3,-0.3,0.496,0.023,-0.023,18h54m55.69s,+45d57m31.6s,15.073,NaN
1,8359498,K00127.01,Kepler-77 b,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.450,0.1,-0.1,1.039,0.045,-0.045,19h18m25.91s,+44d20m43.5s,13.938,NaN
2,9406990,K00937.01,Kepler-733 b,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.600,0.3,-0.3,0.780,0.240,-0.240,19h32m04.39s,+45d54m52.9s,15.412,NaN
3,9415172,K00938.01,Kepler-255 c,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.580,0.3,-0.3,0.800,0.380,-0.380,19h44m15.42s,+45d58m36.6s,15.596,NaN
4,9415172,K00938.02,Kepler-255 d,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.580,0.3,-0.3,0.800,0.380,-0.380,19h44m15.42s,+45d58m36.6s,15.596,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3860,6960445,K00669.01,NaN,FALSE POSITIVE,FALSE POSITIVE,NaN,NaN,NaN,NaN,NaN,...,4.470,0.3,-0.3,0.910,0.400,-0.400,19h40m46.95s,+42d25m01.4s,13.842,NaN
3861,7033671,K00670.01,Kepler-641 b,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.350,0.3,-0.3,1.060,0.500,-0.500,19h27m17.64s,+42d30m58.4s,13.774,NaN
3862,7040629,K00671.01,Kepler-208 b,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.446,NaN,NaN,0.972,NaN,NaN,19h35m33.65s,+42d31m40.7s,13.749,NaN
3863,7040629,K00671.02,Kepler-208 c,CONFIRMED,CANDIDATE,NaN,NaN,NaN,NaN,NaN,...,4.446,NaN,NaN,0.972,NaN,NaN,19h35m33.65s,+42d31m40.7s,13.749,NaN
3864,11553706,K00009.01,NaN,NOT DISPOSITIONED,NOT DISPOSITIONED,NaN,NaN,NaN,NaN,NaN,...,4.450,0.3,-0.3,1.050,0.450,-0.450,19h15m12.90s,+49d31m50.8s,13.123,NaN

In [54]:
#read and Display CSV file
exo = pd.read_csv('Input/q1_q12_koi.csv')
exo

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra_str,dec_str,koi_kepmag,koi_kepmag_err
0,6422070,K00852.01,Kepler-704 b,CONFIRMED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.472,0.057,-0.276,0.949,0.376,-0.089,18h53m15.93s,+41d50m13.6s,15.257,NaN
1,9471974,K00119.01,Kepler-108 B b,CONFIRMED,NOT DISPOSITIONED,NaN,0,0,0,0,...,3.900,0.035,-0.035,2.192,0.121,-0.121,19h38m14.20s,+46d03m44.4s,12.654,NaN
2,6428700,K00853.01,Kepler-242 b,CONFIRMED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.499,0.074,-0.605,0.826,0.399,-0.074,19h06m15.77s,+41d48m30.2s,15.376,NaN
3,6428700,K00853.02,Kepler-242 c,CONFIRMED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.499,0.074,-0.605,0.826,0.399,-0.074,19h06m15.77s,+41d48m30.2s,15.376,NaN
4,6435936,K00854.01,Kepler-705 b,CONFIRMED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.784,0.077,-0.077,0.470,0.060,-0.060,19h18m02.04s,+41d48m43.6s,15.849,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5850,7529266,K00680.01,Kepler-435 b,CONFIRMED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.348,0.115,-0.251,1.087,0.408,-0.153,19h29m08.96s,+43d11m50.2s,13.643,NaN
5851,7598128,K00681.01,NaN,NOT DISPOSITIONED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.268,0.124,-0.310,1.313,0.730,-0.233,19h14m10.08s,+43d15m19.5s,13.204,NaN
5852,7619236,K00682.01,NaN,NOT DISPOSITIONED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.229,0.134,-0.116,1.289,0.231,-0.204,19h40m47.52s,+43d16m10.2s,13.916,NaN
5853,7630229,K00683.01,NaN,NOT DISPOSITIONED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.382,0.069,-0.152,1.098,0.223,-0.096,19h51m17.83s,+43d15m30.2s,13.714,NaN
5854,7730747,K00684.01,NaN,NOT DISPOSITIONED,NOT DISPOSITIONED,NaN,0,0,0,0,...,3.964,0.383,-0.254,1.793,0.865,-0.720,18h45m09.67s,+43d24m48.0s,13.831,NaN

In [55]:
#read and Display CSV file
exo = pd.read_csv('Input/q1_q12_stellar.csv')
exo

,st_delivname,kepid,tm_designation,ra,dec,kepmag,teff,teff_err1,teff_err2,teff_prov,...,mass_err2,dens,dens_err1,dens_err2,prov_sec,nconfp,nkoi,ntce,st_quarters,st_vet_date_str
0,q1_q12_stellar,10002413,2MASS J19103477+4657082,287.64490,46.952301,14.487,5708,88.0,-88.0,Pinsonneault,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,2013-03-27
1,q1_q12_stellar,10002443,2MASS J19103873+4656594,287.66138,46.949848,12.887,4896,56.0,-56.0,Pinsonneault,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,2013-03-27
2,q1_q12_stellar,10002456,2MASS J19104063+4655140,287.66931,46.920559,15.976,5642,92.0,-92.0,Pinsonneault,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,2013-03-27
3,q1_q12_stellar,10002462,2MASS J19104115+4658344,287.67148,46.976231,10.441,9877,198.0,-198.0,Pinsonneault,...,NaN,NaN,NaN,NaN,NaN,0,0,3,NaN,2013-03-27
4,q1_q12_stellar,10002490,2MASS J19104670+4654182,287.69461,46.905060,12.703,5577,59.0,-59.0,Pinsonneault,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,2013-03-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194431,q1_q12_stellar,9995718,2MASS J18550220+4658418,283.75919,46.978291,14.240,6244,86.0,-86.0,Pinsonneault,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,2013-03-27
194432,q1_q12_stellar,9995748,2MASS J18550787+4659221,283.78278,46.989491,15.102,6211,97.0,-97.0,Pinsonneault,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,2013-03-27
194433,q1_q12_stellar,9995753,2MASS J18550868+4656419,283.78619,46.944981,12.321,5561,64.0,-64.0,Pinsonneault,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,2013-03-27
194434,q1_q12_stellar,9995755,2MASS J18550883+4657476,283.78683,46.963230,12.504,5004,90.0,-90.0,Pinsonneault,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,2013-03-27
194435,q1_q12_stellar,9995769,2MASS J18551117+4658171,283.79657,46.971439,15.282,6136,156.0,-156.0,Pinsonneault,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,2013-03-27

In [56]:
#read and Display CSV file
exo = pd.read_csv('Input/q1_q12_tce.csv')
exo

,kepid,tce_plnt_num,tce_rogue_flag,tce_period,tce_period_err,tce_time0bk,tce_time0bk_err,tce_impact,tce_impact_err,tce_duration,...,tce_eqt,tce_eqt_err,tce_insol,tce_insol_err,tce_steff,tce_steff_err,tce_slogg,tce_slogg_err,tce_sradius,tce_sradius_err
0,1294670,2,NaN,0.822949,0.000020,132.311,0.008224,0.000202,49580.00000,3.893,...,3210.0,648.0000,NaN,NaN,7306.0,212.0,4.04,0.20,NaN,NaN
1,1294756,1,NaN,0.530191,0.000009,131.977,0.001546,0.019960,187.70000,1.961,...,4840.0,715.0000,NaN,NaN,8629.0,229.0,3.91,0.18,NaN,NaN
2,1294756,2,NaN,0.530198,0.000012,131.701,0.002176,0.283700,4.95100,1.910,...,4840.0,715.0000,NaN,NaN,8629.0,229.0,3.91,0.18,NaN,NaN
3,1296164,1,NaN,1.961050,0.000016,132.309,0.003227,0.011360,258.50000,7.397,...,2230.0,542.0000,NaN,NaN,6976.0,168.0,4.08,0.21,NaN,NaN
4,757450,1,NaN,8.884920,0.000002,134.451,0.000139,0.000148,460.80000,2.088,...,722.0,286.0000,NaN,NaN,5154.0,90.0,4.54,0.36,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18401,12602985,3,NaN,0.627119,0.000022,131.704,0.005686,0.982000,0.00809,17.920,...,1680.0,0.0194,NaN,NaN,4878.0,NaN,4.54,NaN,NaN,NaN
18402,12365184,1,NaN,69.731000,0.000083,196.070,0.000679,0.588600,0.18360,3.793,...,647.0,116.0000,NaN,NaN,6740.0,189.0,4.09,0.17,NaN,NaN
18403,12365420,1,NaN,0.693665,0.000007,131.692,0.002366,0.000869,3532.00000,4.005,...,3990.0,601.0000,NaN,NaN,7784.0,193.0,3.90,0.20,NaN,NaN
18404,12366084,1,NaN,4.431230,0.000009,135.564,0.001104,0.008832,197.50000,3.172,...,1050.0,267.0000,NaN,NaN,5776.0,126.0,4.54,0.24,NaN,NaN
18405,12366084,2,NaN,11.379400,0.000040,133.851,0.002156,0.330100,11.60000,2.240,...,763.0,195.0000,NaN,NaN,5776.0,126.0,4.54,0.24,NaN,NaN

In [57]:
#read and Display CSV file
exo = pd.read_csv('Input/q1_q16_koi.csv')
exo

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra_str,dec_str,koi_kepmag,koi_kepmag_err
0,11446443,K00001.01,Kepler-1 b,CONFIRMED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.455,0.025,-0.025,0.950,0.020,-0.020,19h07m14.03s,+49d18m59.0s,11.338,NaN
1,10666592,K00002.01,Kepler-2 b,CONFIRMED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.021,0.011,-0.011,1.991,0.018,-0.018,19h28m59.35s,+47d58m10.3s,10.463,NaN
2,6678383,K00111.02,Kepler-104 A c,CONFIRMED,CANDIDATE,NaN,0,0,0,0,...,4.081,0.213,-0.115,1.361,0.225,-0.305,19h10m25.11s,+42d10m00.4s,12.596,NaN
3,6922244,K00010.01,Kepler-8 b,CONFIRMED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.169,0.055,-0.048,1.451,0.117,-0.129,18h45m09.15s,+42d27m03.9s,13.563,NaN
4,9873254,K00717.01,Kepler-653 b,CONFIRMED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.391,0.065,-0.167,1.095,0.247,-0.094,18h48m51.10s,+46d43m04.1s,13.387,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7343,7906882,K00686.01,NaN,CANDIDATE,CANDIDATE,NaN,0,0,0,0,...,4.470,0.077,-0.262,0.885,0.361,-0.096,19h47m21.78s,+43d38m49.6s,13.579,NaN
7344,7976520,K00687.01,NaN,NOT DISPOSITIONED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.479,0.056,-0.277,0.933,0.368,-0.093,19h48m28.11s,+43d42m41.1s,13.813,NaN
7345,8161561,K00688.01,Kepler-645 b,CONFIRMED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.259,0.145,-0.282,1.273,0.664,-0.227,19h21m17.47s,+44d02m08.9s,13.992,NaN
7346,8361905,K00689.01,Kepler-646 b,CONFIRMED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.607,0.031,-0.262,0.737,0.330,-0.051,19h21m53.12s,+44d23m13.5s,13.766,NaN
7347,5120087,K00639.01,Kepler-631 b,CONFIRMED,NOT DISPOSITIONED,NaN,0,0,0,0,...,4.434,0.071,-0.273,0.989,0.377,-0.108,19h47m32.58s,+40d13m41.6s,13.500,NaN

In [58]:
#read and Display CSV file
exo = pd.read_csv('Input/q1_q16_stellar.csv')
exo

,st_delivname,kepid,tm_designation,ra,dec,kepmag,teff,teff_err1,teff_err2,teff_prov,...,mass_err2,dens,dens_err1,dens_err2,prov_sec,nconfp,nkoi,ntce,st_quarters,st_vet_date_str
0,q1_q16_stellar,9770862,2MASS J19274858+4630098,291.95245,46.502739,13.852,5910,157.0,-163.0,PHO1,...,-0.0941,1.139000,0.589800,-0.653200,DSEP,0,0,0,11111111111111111,2013-12-03
1,q1_q16_stellar,9770895,2MASS J19275096+4630422,291.96234,46.511730,15.760,5101,155.0,-140.0,PHO1,...,-0.0471,3.206000,0.646000,-0.779500,DSEP,0,0,0,11111111111111111,2013-12-03
2,q1_q16_stellar,9770983,2MASS J19275843+4630578,291.99350,46.516071,14.270,5977,157.0,-232.0,PHO1,...,-0.1446,1.493000,0.293600,-0.885600,DSEP,0,1,0,11111111111111111,2013-12-03
3,q1_q16_stellar,9770992,2MASS J19275926+4631114,291.99692,46.519852,10.531,4904,107.0,-145.0,PHO1,...,-0.9773,0.001748,0.004289,-0.000961,DSEP,0,0,0,11111111111111111,2013-12-03
4,q1_q16_stellar,9771031,2MASS J19280394+4630130,292.01642,46.503632,12.304,4860,80.0,-185.0,PHO1,...,-1.7093,0.001769,0.000878,-0.000165,DSEP,0,0,0,11101111111111100,2013-12-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198912,q1_q16_stellar,12404283,2MASS J19180241+5113045,289.51004,51.217930,15.688,4542,179.0,-153.0,KIC0,...,-0.0687,3.065000,0.429600,-0.514700,DSEP,0,0,0,11111111111111,2013-12-03
198913,q1_q16_stellar,12404294,2MASS J19180417+5113157,289.51740,51.221031,11.697,6632,171.0,-204.0,PHO1,...,-0.1079,0.361400,0.679600,-0.209900,DSEP,0,0,0,11111111111111111,2013-12-03
198914,q1_q16_stellar,12404305,2MASS J19180507+5114143,289.52115,51.237309,14.118,5843,155.0,-148.0,PHO1,...,-0.0821,2.863000,0.334700,-1.459000,DSEP,1,1,1,11111111111111111,2013-12-03
198915,q1_q16_stellar,12404331,2MASS J19180852+5115371,289.53552,51.260330,15.705,5632,165.0,-153.0,PHO1,...,-0.0975,2.131000,0.313200,-1.251000,DSEP,0,0,0,11111111111111111,2013-12-03
198916,q1_q16_stellar,12404369,2MASS J19181249+5115144,289.55206,51.254002,14.855,4894,151.0,-130.0,PHO1,...,-0.0676,2.700000,0.491700,-0.595200,DSEP,0,0,0,11111111111111111,2013-12-03

In [59]:
#read and Display CSV file
exo = pd.read_csv('Input/q1_q16_tce.csv')
exo

,kepid,tce_plnt_num,tce_rogue_flag,tce_period,tce_period_err,tce_time0bk,tce_time0bk_err,tce_impact,tce_impact_err,tce_duration,...,tce_eqt,tce_eqt_err,tce_insol,tce_insol_err,tce_steff,tce_steff_err,tce_slogg,tce_slogg_err,tce_sradius,tce_sradius_err
0,757450,1,NaN,8.88492,1.214910e-06,134.452,0.000103,0.06418,0.793700,2.088,...,770.0,28.2,NaN,NaN,5332.0,105.0,4.50,0.05,0.843,0.052
1,892376,1,NaN,491.54300,1.027760e-02,453.748,0.013445,0.66400,4.761000,3.610,...,134.0,12.4,NaN,NaN,3973.0,179.0,4.66,0.09,0.605,0.098
2,892376,2,NaN,388.33300,2.996600e-02,323.769,0.048692,0.73670,10.970000,4.995,...,145.0,13.5,NaN,NaN,3973.0,179.0,4.66,0.09,0.605,0.098
3,892376,3,NaN,463.22200,9.028900e-03,214.530,0.012375,0.49900,3.922000,7.063,...,137.0,12.7,NaN,NaN,3973.0,179.0,4.66,0.09,0.605,0.098
4,2159486,2,NaN,562.47600,1.346170e-02,369.463,0.018198,0.06987,28.240000,15.770,...,168.0,14.5,NaN,NaN,4914.0,203.0,4.58,0.07,0.707,0.107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16280,12459725,1,NaN,354.51500,4.341950e-03,185.644,0.005955,0.42530,11.920000,3.798,...,243.0,64.5,NaN,NaN,5799.0,172.0,4.54,0.36,0.878,0.463
16281,12643786,3,NaN,392.99800,3.396010e-03,328.479,0.006533,0.01108,2095.000000,10.350,...,451.0,107.0,NaN,NaN,7549.0,326.0,3.95,0.28,2.315,1.080
16282,12643786,4,NaN,570.07400,5.023690e-03,282.732,0.005623,0.18600,214.200000,8.641,...,398.0,94.5,NaN,NaN,7549.0,326.0,3.95,0.28,2.315,1.080
16283,12644769,1,NaN,41.07760,6.850070e-07,132.659,0.000014,0.50360,0.000309,6.204,...,347.0,10.5,NaN,NaN,4452.0,91.0,4.65,0.03,0.623,0.028
16284,12644769,2,NaN,41.07780,2.555220e-06,152.717,0.000055,0.74240,0.001250,4.581,...,347.0,10.5,NaN,NaN,4452.0,91.0,4.65,0.03,0.623,0.028

In [60]:
#read and Display CSV file
exo = pd.read_csv('Input/q1_q17_dr24_koi.csv')
exo

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra_str,dec_str,koi_kepmag,koi_kepmag_err
0,7697568,K01829.01,NaN,CANDIDATE,CANDIDATE,NaN,0,0,0,0,...,4.543,0.038,-0.231,0.822,0.298,-0.068,19h46m05.38s,+43d21m48.1s,15.911,NaN
1,5730445,K02189.01,NaN,CANDIDATE,CANDIDATE,NaN,0,0,0,0,...,4.515,0.067,-0.788,0.799,1.279,-0.076,19h52m17.94s,+40d56m56.4s,15.253,NaN
2,8733497,K03527.01,NaN,CANDIDATE,CANDIDATE,NaN,0,0,0,0,...,4.579,0.032,-0.261,0.785,0.319,-0.059,18h48m00.21s,+44d57m38.8s,14.063,NaN
3,4255422,K03528.01,NaN,CANDIDATE,CANDIDATE,NaN,0,0,0,0,...,3.759,0.491,-0.228,2.185,0.941,-1.051,19h18m47.29s,+39d22m17.9s,12.724,NaN
4,9837544,K03529.01,NaN,FALSE POSITIVE,FALSE POSITIVE,NaN,0,1,0,0,...,4.497,0.078,-0.606,0.824,0.725,-0.084,19h37m56.73s,+46d40m34.1s,15.167,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7465,6962977,K01364.01,Kepler-292 f,CONFIRMED,CANDIDATE,NaN,0,0,0,0,...,4.479,0.062,-0.259,0.915,0.351,-0.087,19h43m03.87s,+42d25m27.4s,15.956,NaN
7466,6962977,K01364.02,Kepler-292 d,CONFIRMED,CANDIDATE,NaN,0,0,0,0,...,4.479,0.062,-0.259,0.915,0.351,-0.087,19h43m03.87s,+42d25m27.4s,15.956,NaN
7467,6962977,K01364.03,Kepler-292 e,CONFIRMED,CANDIDATE,NaN,0,0,0,0,...,4.479,0.062,-0.259,0.915,0.351,-0.087,19h43m03.87s,+42d25m27.4s,15.956,NaN
7468,11512246,K00168.01,Kepler-23 c,CONFIRMED,CANDIDATE,NaN,0,0,0,0,...,4.090,0.019,-0.019,1.548,0.048,-0.048,19h36m52.54s,+49d28m45.2s,13.438,NaN
7469,6962977,K01364.04,Kepler-292 c,CONFIRMED,CANDIDATE,NaN,0,0,0,0,...,4.479,0.062,-0.259,0.915,0.351,-0.087,19h43m03.87s,+42d25m27.4s,15.956,NaN

In [61]:
#read and Display CSV file
exo = pd.read_csv('Input/q1_q17_dr24_stellar.csv')
exo

,st_delivname,kepid,tm_designation,ra,dec,kepmag,teff,teff_err1,teff_err2,teff_prov,...,mass_err2,dens,dens_err1,dens_err2,prov_sec,nconfp,nkoi,ntce,st_quarters,st_vet_date_str
0,q1_q17_dr24_stellar,10022892,2MASS J19444068+4656575,296.16953,46.949329,15.799,4862,169.0,-136.0,PHO1,...,-0.065,2.34700,0.3124,-0.52300,DSEP,0,0,0,11111101110111011,2015-01-15
1,q1_q17_dr24_stellar,10022896,2MASS J19444107+4659087,296.17114,46.985760,15.767,6065,142.0,-231.0,PHO1,...,-0.172,1.37000,0.3151,-0.72960,DSEP,0,0,0,11111101110111011,2015-01-15
2,q1_q17_dr24_stellar,10022908,2MASS J19444255+4659564,296.17728,46.999020,14.940,4848,151.0,-126.0,PHO1,...,-0.077,2.64400,0.2472,-0.56110,DSEP,1,1,1,11111101110111011,2015-01-15
3,q1_q17_dr24_stellar,10022925,2MASS J19444430+4658488,296.18460,46.980240,13.529,6343,140.0,-233.0,PHO1,...,-0.205,1.16400,0.3162,-0.79850,DSEP,0,0,0,11111101110111011,2015-01-15
4,q1_q17_dr24_stellar,10022963,2MASS J19444620+4654451,296.19250,46.912540,15.216,5926,163.0,-182.0,PHO1,...,-0.117,1.85800,0.3207,-1.05600,DSEP,0,0,0,1110101010101010,2015-01-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199752,q1_q17_dr24_stellar,9767233,2MASS J19213850+4631484,290.41043,46.530109,13.112,6235,159.0,-181.0,PHO1,...,-0.089,1.18600,0.6365,-0.68270,DSEP,0,0,0,11111111111111111,2015-01-15
199753,q1_q17_dr24_stellar,9767253,2MASS J19214124+4631294,290.42184,46.524860,15.868,3980,122.0,-78.0,PHO2,...,-0.050,4.71600,3.2070,-3.20700,DSEP2,0,0,0,11111111111111111,2015-01-15
199754,q1_q17_dr24_stellar,9767287,2MASS J19214532+4635410,290.43887,46.594742,14.513,5911,157.0,-153.0,PHO1,...,-0.094,2.46600,0.3607,-1.35900,DSEP,0,0,0,11111111111111111,2015-01-15
199755,q1_q17_dr24_stellar,9767307,2MASS J19214735+4630567,290.44730,46.515770,15.111,6164,158.0,-199.0,PHO1,...,-0.137,1.37000,0.3022,-0.90490,DSEP,0,0,0,11111111111111111,2015-01-15
199756,q1_q17_dr24_stellar,9767315,2MASS J19214799+4630392,290.44995,46.510910,13.867,5204,169.0,-189.0,PHO1,...,-0.505,0.06837,0.2136,-0.04353,DSEP,0,0,0,11111111111111111,2015-01-15

In [62]:
#read and Display CSV file
exo = pd.read_csv('Input/q1_q17_dr24_tce.csv')
exo

,kepid,tce_plnt_num,tce_rogue_flag,tce_period,tce_period_err,tce_time0bk,tce_time0bk_err,tce_impact,tce_impact_err,tce_duration,...,tce_eqt,tce_eqt_err,tce_insol,tce_insol_err,tce_steff,tce_steff_err,tce_slogg,tce_slogg_err,tce_sradius,tce_sradius_err
0,1162345,2,NaN,0.831850,6.693070e-05,132.227,0.035197,0.92600,1.471000,2.392,...,2760.0,637.0,NaN,NaN,6510.0,207.0,4.07,0.26,1.728,0.791
1,1292087,2,NaN,1.095240,1.009340e-05,132.133,0.002685,0.25630,13.310000,2.122,...,2310.0,661.0,NaN,NaN,6328.0,207.0,4.15,0.29,1.502,0.852
2,1293031,2,NaN,0.719273,1.388330e-05,132.227,0.002786,0.70000,1.103000,1.521,...,3330.0,703.0,NaN,NaN,6363.0,214.0,3.80,0.35,2.489,1.036
3,1162345,3,NaN,0.831833,9.431020e-06,131.919,0.002209,0.09536,51.770000,2.181,...,2760.0,637.0,NaN,NaN,6510.0,207.0,4.07,0.26,1.728,0.791
4,1164109,1,NaN,622.408000,8.547390e-03,162.256,0.009840,0.00319,2193.000000,12.010,...,302.0,75.0,NaN,NaN,6609.0,200.0,4.11,0.28,1.654,0.816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20362,11906217,1,NaN,37.910200,1.999770e-06,162.459,0.000044,0.92180,0.100500,3.139,...,358.0,16.7,NaN,NaN,4623.0,129.0,4.69,0.06,0.560,0.042
20363,11908559,1,NaN,0.716006,1.242640e-05,132.019,0.002549,0.70000,0.626200,2.069,...,3660.0,774.0,NaN,NaN,7224.0,309.0,3.89,0.24,2.508,1.039
20364,11923562,2,NaN,0.739472,1.068170e-05,131.618,0.001399,0.28480,6.828000,2.146,...,2900.0,997.0,NaN,NaN,7191.0,318.0,4.23,0.38,1.473,1.005
20365,11923819,1,NaN,33.159500,9.532960e-07,159.812,0.000023,0.74720,0.019810,9.132,...,1090.0,200.0,NaN,NaN,7968.0,323.0,3.95,0.23,2.390,0.854
20366,11923819,2,NaN,33.159200,9.280150e-07,137.774,0.000024,0.91810,0.009575,11.940,...,1090.0,200.0,NaN,NaN,7968.0,323.0,3.95,0.23,2.390,0.854

In [63]:
#read and Display CSV file
exo = pd.read_csv('Input/q1_q17_dr25_koi.csv')
exo

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra_str,dec_str,koi_kepmag,koi_kepmag_err
0,10811496,K00753.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,0,...,4.544,0.044,-0.176,0.868,0.233,-0.078,19h48m01.16s,+48d08m02.9s,15.436,NaN
1,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,0,...,4.564,0.053,-0.168,0.791,0.201,-0.067,19h02m08.31s,+48d17m06.8s,15.597,NaN
2,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,4.438,0.070,-0.210,1.046,0.334,-0.133,19h15m01.17s,+48d13m34.3s,15.509,NaN
3,10872983,K00756.01,Kepler-228 d,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,4.486,0.054,-0.229,0.972,0.315,-0.105,19h45m08.67s,+48d13m28.8s,15.714,NaN
4,10872983,K00756.02,Kepler-228 c,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,4.486,0.054,-0.229,0.972,0.315,-0.105,19h45m08.67s,+48d13m28.8s,15.714,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8049,9530945,K00708.01,Kepler-216 c,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,4.274,0.143,-0.117,1.216,0.207,-0.188,19h34m54.73s,+46d07m44.9s,13.998,NaN
8050,9530945,K00708.02,Kepler-216 b,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,4.274,0.143,-0.117,1.216,0.207,-0.188,19h34m54.73s,+46d07m44.9s,13.998,NaN
8051,9578686,K00709.01,Kepler-651 b,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,4.516,0.060,-0.060,0.825,0.069,-0.057,19h09m19.87s,+46d12m12.6s,13.940,NaN
8052,6678383,K00111.01,Kepler-104 A b,CONFIRMED,CANDIDATE,0.999,0,0,0,0,...,4.394,0.110,-0.110,1.005,0.138,-0.113,19h10m25.11s,+42d10m00.4s,12.596,NaN
8053,5613330,K00649.01,Kepler-635 b,CONFIRMED,CANDIDATE,1.000,0,0,0,0,...,4.196,0.115,-0.126,1.524,0.278,-0.228,19h19m05.58s,+40d48m02.6s,13.310,NaN

In [64]:
#read and Display CSV file
exo = pd.read_csv('Input/q1_q17_dr25_stellar.csv')
exo

,st_delivname,kepid,tm_designation,ra,dec,kepmag,teff,teff_err1,teff_err2,teff_prov,...,mass_err2,dens,dens_err1,dens_err2,prov_sec,nconfp,nkoi,ntce,st_quarters,st_vet_date_str
0,q1_q17_dr25_stellar,10000785,2MASS J19065600+4658027,286.73337,46.967442,15.749,5333,177.0,-161.0,PHO1,...,-0.024,3.262000,0.888300,-0.583600,DSEP,0,0,2,1111111111111111,2017-03-23
1,q1_q17_dr25_stellar,10000797,2MASS J19065719+4658415,286.73831,46.978222,13.994,6289,170.0,-207.0,PHO1,...,-0.110,0.800200,0.756300,-0.392400,DSEP,0,0,0,11111111111111111,2017-03-23
2,q1_q17_dr25_stellar,10000800,2MASS J19065751+4657575,286.73962,46.965969,15.379,5692,152.0,-169.0,PHO1,...,-0.115,2.090000,0.389800,-1.037000,DSEP,0,0,0,11111111111111111,2017-03-23
3,q1_q17_dr25_stellar,10000823,2MASS J19065956+4655093,286.74817,46.919250,15.558,6580,212.0,-345.0,PHO1,...,-0.201,1.050000,0.412900,-0.565700,DSEP,0,0,0,11111111111111111,2017-03-23
4,q1_q17_dr25_stellar,10000827,2MASS J19065980+4657282,286.74918,46.957829,14.841,5648,152.0,-169.0,PHO1,...,-0.115,2.221000,0.456900,-1.006000,DSEP,0,0,0,11111111111111111,2017-03-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200033,q1_q17_dr25_stellar,9999901,2MASS J19044516+4659174,286.18817,46.988190,13.252,5067,167.0,-152.0,PHO1,...,-0.083,2.381000,0.369300,-0.595700,DSEP,0,0,0,11111111111111111,2017-03-23
200034,q1_q17_dr25_stellar,9999911,2MASS J19044660+4657227,286.19421,46.956322,15.019,5188,71.0,-153.0,PHO1,...,-0.767,0.009352,0.003415,-0.000699,DSEP,0,0,0,11111111111111111,2017-03-23
200035,q1_q17_dr25_stellar,9999914,2MASS J19044683+4655410,286.19516,46.928070,15.541,6156,220.0,-270.0,PHO1,...,-0.162,1.357000,0.424200,-0.758900,DSEP,0,0,0,1100000000000000,2017-03-23
200036,q1_q17_dr25_stellar,9999949,2MASS J19045272+4656462,286.21967,46.946190,15.723,6205,198.0,-298.0,PHO1,...,-0.170,1.243000,0.394500,-0.667700,DSEP,0,0,0,1100000000000000,2017-03-23
200037,q1_q17_dr25_stellar,9999979,2MASS J19045706+4654374,286.23779,46.910412,16.471,5311,191.0,-191.0,KIC0,...,-0.104,2.546000,0.463100,-0.871300,DSEP,0,0,0,110000000000000,2017-03-23

In [65]:
#read and Display CSV file
exo = pd.read_csv('Input/q1_q17_dr25_sup_koi.csv')
exo

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra_str,dec_str,koi_kepmag,koi_kepmag_err
0,10265898,K00732.03,NaN,CANDIDATE,CANDIDATE,NaN,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,19h13m18.70s,+47d22m53.7s,15.342,NaN
1,10271806,K00733.01,Kepler-224 c,CONFIRMED,CANDIDATE,NaN,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,19h23m44.23s,+47d21m27.4s,15.644,NaN
2,10271806,K00733.02,Kepler-224 d,CONFIRMED,CANDIDATE,NaN,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,19h23m44.23s,+47d21m27.4s,15.644,NaN
3,10984090,K00112.02,Kepler-466 c,CONFIRMED,CANDIDATE,NaN,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,19h42m35.69s,+48d29m44.0s,12.772,NaN
4,10271806,K00733.03,Kepler-224 b,CONFIRMED,CANDIDATE,NaN,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,19h23m44.23s,+47d21m27.4s,15.644,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9559,7115200,K06821.01,NaN,FALSE POSITIVE,FALSE POSITIVE,NaN,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,19h23m52.49s,+42d37m10.8s,12.766,NaN
9560,7115332,K06822.01,NaN,FALSE POSITIVE,FALSE POSITIVE,NaN,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,19h24m03.54s,+42d39m11.9s,14.944,NaN
9561,7115463,K06823.01,NaN,FALSE POSITIVE,FALSE POSITIVE,NaN,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,19h24m15.60s,+42d38m11.9s,15.124,NaN
9562,7115597,K06824.01,NaN,FALSE POSITIVE,FALSE POSITIVE,NaN,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,19h24m25.12s,+42d38m43.1s,15.915,NaN
9563,7115878,K06825.01,NaN,FALSE POSITIVE,FALSE POSITIVE,NaN,1,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,19h24m47.89s,+42d41m12.2s,14.897,NaN

In [66]:
#read and Display CSV file
exo = pd.read_csv('Input/q1_q17_dr25_supp_stellar.csv')
exo

,st_delivname,kepid,tm_designation,ra,dec,kepmag,teff,teff_err1,teff_err2,teff_prov,...,mass_err2,dens,dens_err1,dens_err2,prov_sec,nconfp,nkoi,ntce,st_quarters,st_vet_date_str
0,q1_q17_dr25_supp_stellar,891916,2MASS J19234997+3641118,290.95822,36.686611,14.799,5602,167,-151,PHO1,...,-0.062,2.67700,0.568600,-0.91230,DSEP,0,0,0,NaN,2018-01-06
1,q1_q17_dr25_supp_stellar,2285040,2MASS J19063609+3739006,286.65039,37.650188,15.036,5941,195,-195,KIC0,...,-0.087,1.33000,0.796900,-0.67960,DSEP,0,0,0,NaN,2018-01-06
2,q1_q17_dr25_supp_stellar,2285109,2MASS J19064119+3741168,286.67163,37.688000,13.134,6056,182,-182,PHO1,...,-0.389,0.05937,0.183100,-0.02267,DSEP,0,0,0,NaN,2018-01-06
3,q1_q17_dr25_supp_stellar,1160891,2MASS J19234186+3649419,290.92444,36.828320,13.210,6842,72,-92,SPE68,...,-0.095,0.47730,0.172300,-0.16570,DSEP,0,0,0,NaN,2018-01-06
4,q1_q17_dr25_supp_stellar,1160919,2MASS J19234332+3650457,290.93051,36.846031,14.236,6200,199,-243,KIC0,...,-0.177,0.30460,0.765700,-0.12360,DSEP,0,0,0,NaN,2018-01-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197091,q1_q17_dr25_supp_stellar,12115374,2MASS J19361519+5038394,294.06332,50.644291,13.402,5028,86,-172,PHO1,...,-0.690,0.02002,0.006401,-0.00177,DSEP,0,0,0,NaN,2018-01-06
197092,q1_q17_dr25_supp_stellar,12115380,2MASS J19361579+5037288,294.06580,50.624680,16.361,10906,304,-457,KIC0,...,-0.674,0.22980,0.394000,-0.11210,DSEP,0,0,0,NaN,2018-01-06
197093,q1_q17_dr25_supp_stellar,12115387,2MASS J19361666+5039510,294.06943,50.664188,14.480,5093,152,-137,PHO1,...,-0.069,2.20200,0.511500,-0.49710,DSEP,0,0,0,NaN,2018-01-06
197094,q1_q17_dr25_supp_stellar,12115393,2MASS J19361722+5038207,294.07175,50.639091,14.087,6335,156,-203,PHO1,...,-0.154,1.28000,0.351900,-0.65670,DSEP,0,0,0,NaN,2018-01-06
197095,q1_q17_dr25_supp_stellar,12115424,2MASS J19362115+5037505,294.08813,50.630699,15.357,5931,148,-178,PHO1,...,-0.110,2.18200,0.382400,-0.99180,DSEP,0,0,0,NaN,2018-01-06

In [67]:
#read and Display CSV file
exo = pd.read_csv('Input/q1_q17_dr25_tce.csv')
exo

,kepid,tce_plnt_num,tce_rogue_flag,tce_period,tce_period_err,tce_time0bk,tce_time0bk_err,tce_impact,tce_impact_err,tce_duration,...,tce_eqt,tce_eqt_err,tce_insol,tce_insol_err,tce_steff,tce_steff_err,tce_slogg,tce_slogg_err,tce_sradius,tce_sradius_err
0,2304168,2,0,431.719000,0.011803,219.298,0.018384,0.9308,0.03871,13.220,...,494.0,104.0,14.09,11.85,7221.0,327.0,3.67,0.49,3.332,1.718
1,2304235,1,0,0.570607,0.000006,132.049,0.000699,0.9000,0.26870,1.160,...,0.0,-1.0,0.00,-1.00,4896.0,172.0,2.12,0.56,26.320,17.390
2,2304566,1,0,0.689480,0.000048,131.833,0.019838,0.3085,45.49000,5.236,...,0.0,-1.0,0.00,-1.00,7059.0,269.0,3.29,0.43,5.894,2.825
3,2304320,1,0,16.540800,0.000043,133.952,0.002193,0.8848,0.22350,2.715,...,570.0,16.6,24.93,2.91,5064.0,101.0,4.57,0.05,0.769,0.049
4,2303365,2,0,0.520697,0.000009,132.003,0.000916,0.9008,0.41550,1.035,...,0.0,-1.0,0.00,-1.00,7517.0,339.0,3.64,0.46,3.603,1.762
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34027,11912947,6,0,522.609000,-1.000000,501.352,-1.000000,0.1000,-1.00000,3.500,...,92.3,-1.0,0.02,-1.00,3440.0,44.0,4.93,0.04,0.321,0.033
34028,11922283,3,1,256.782000,0.011573,224.233,0.037080,0.9854,0.06395,10.160,...,956.0,130.0,197.89,107.61,7120.0,274.0,2.89,0.30,11.110,4.219
34029,11922283,4,0,0.878715,0.000013,132.314,0.007274,1.0000,0.15830,8.534,...,0.0,-1.0,0.00,-1.00,7120.0,274.0,2.89,0.30,11.110,4.219
34030,11922290,1,0,114.662000,0.001332,237.232,0.009527,0.8479,2.56400,2.743,...,317.0,15.7,2.37,0.47,5412.0,161.0,4.56,0.09,0.712,0.082
34031,11922648,1,0,1.756410,0.000015,132.058,0.004022,0.6787,1.41600,2.952,...,1370.0,117.0,825.49,283.45,5696.0,154.0,4.57,0.18,0.812,0.222